<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Rendez-vous web app | Accueil</title>
    </head>
    <body>
        <h1>Rendez-vous web app | Accueil</h1>
        {% if user.is_authenticated %}
            <h2>Bonjour {{ user.last_name }} {{ user.first_name }}</h2>
            <a href="{% url 'liste_des_enseignants' %}">Liste des enseignants</a>
            <a href="{% url 'vos_rendez_vous' %}">Vos rendez-vous</a>
            <a href="{% url 'modifier_vos_informations' %}">Modifier vos informations</a>
            <a href="{% url 'deconnexion' %}">Déconnexion</a>
        {% else %}
            <a href="{% url 'connexion' %}">Connexion</a>
            <a href="{% url 'inscription' %}">Inscription</a>
        {% endif %}
    </body>
</html>