{% extends 'accueil.html' %}

{% block title %}
    Rendez-vous web app | Inscription
{% endblock %}

{% block head %}
    Rendez-vous web app | Inscription
{% endblock %}

{% block body %}
    <h2>Inscription</h2><br>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputNom">Nom</label>
            {{ form.nom }}
        </div>
        <div class="form-group">
            <label for="inputPrenom">Prénom</label>
            {{ form.prenom }}
        </div>
        <div class="form-group">
            <label for="inputMot_de_passe">Mot de passe</label>
            {{ form.mot_de_passe }}
        </div>
        <div class="form-group">
            <label for="inputConfirmation_mot_de_passe">Confirmation mot de passe</label>
            {{ form.confirmation_mot_de_passe }}
        </div>
        <div class="form-group">
                <label for="inputEmail">Email</label>
                {{ form.email }}
        </div>
        <div class="form-group">
            <label for="inputTelephone">Téléphone</label>
            {{ form.telephone }}
        </div>
        <div class="form-group">
            <label for="inputRole">Rôle</label>
            {{ form.role }}
        </div>

        <input type="submit" name="inscription" class="btn btn-primary btn-block" value="Inscription">
        <a href="{% url 'accueil' %}" class="btn btn-warning btn-block">Retour</a>
    </form>
{% endblock %}