{% extends 'accueil.html' %}

{% block title %}
    Rendez-vous web app | Liste des enseignants
{% endblock %}

{% block head %}
    Rendez-vous web app
{% endblock %}

{% block body %}
    <h2>Liste des enseignants</h2><br>
    <a href='{% url "accueil" %}' class='btn btn-outline-dark btn-lg btn-block'>Accueil</a><br><br>
    <table id="table_id" class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Email</th>
                {% if utilisateur.role == "élève" %} 
                    <th>Actions</th>
                {% endif %} 
            </tr>
        </thead>
        <tbody>
            {% for enseignant in enseignants %}
                <tr>
                    <td>{{ enseignant.last_name}}</td>
                    <td>{{ enseignant.first_name}}</td>
                    <td>{{ enseignant.utilisateur.telephone}}</td>
                    <td>{{ enseignant.email}}</td>
                    {% if utilisateur.role == "élève" %}    
                        <td>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ enseignant.id }}">
                                <input type="submit" name="rendez-vous" value="RDV">
                            </form>
                        </td> 
                    {% endif %}       
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}