<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Rendez-vous web app | Liste des enseignants</title>
    </head>
    <body>
        <h1>Rendez-vous web app | Liste des enseignants</h1>
        <a href="{% url 'accueil' %}">Accueil</a>
        <table style="width:100%">
            <tr align="left">
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Email</th>
            </tr>
            {% for enseignant in enseignants %}
                <tr>
                    <td>{{ enseignant.id}}</td>
                    <td>{{ enseignant.last_name}}</td>
                    <td>{{ enseignant.first_name}}</td>
                    <td>{{ enseignant.utilisateur.telephone}}</td>
                    <td>{{ enseignant.email}}</td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="id" value="{{ enseignant.id }}">
                            <input type="submit" name="rendez-vous" value="RDV">
                        </form>
                    </td>        
                </tr>
            {% endfor %}
          </table>
    </body>
</html>