{% extends 'accueil.html' %}
{% load static %}

{% block title %}
    Rendez-vous web app | Messages
{% endblock %}

{% block head %}
    Rendez-vous web app
{% endblock %}

{% block body %}
    <h2>Messages</h2>
    <p><u>Objet</u> : {{ objet }}</p> 
    <p><u>Date du rendez-vous</u> : {% if creneau %} {{ creneau.date }} {% else %} Auncun créneau choisie {% endif %}</p> 
    <p><u>Fichier partagé</u> : <a href='{% static "" %}{{ fichier }}' download>Télécharger</a></p> 
    <p><u>Message de la demande</u> :</h2><p>{{ rdv_message }}</p>

    <hr>

    <div id="messages" style="text-align: left;">
        {% for message in messages%}
            <p><b>{{ message.utilisateur.user.first_name }} {{ message.utilisateur.user.last_name }} : </b>{{ message.message }}</p>
        {% endfor %}
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class='form-row'>
            {{ form.message }}
        </div>

        <br>

        <input type="submit" name="envoyer" class="btn btn-primary btn-lg btn-block" id="envoyer" value="Envoyer">
        <a href="{% url 'vos_rendez_vous' %}" class="btn btn-warning btn-lg btn-block">Retour</a>
    </form>
{% endblock %}

{% block sripts %}
    <script type="text/javascript">
        $('#envoyer').click(function(evt){
            evt.preventDefault();
            $.ajax({
                synch: 'true',
                type: 'GET',
                url: '{% url 'messages_lie_au_rendez_vous' %}',
                success: function(data){
                    $('#messages').html(data);
                }
            });
        })

        setInterval(function(){
            $.ajax({
                synch: 'true',
                type: 'GET',
                url: '{% url 'messages_lie_au_rendez_vous' %}',
                success: function(data){
                    console.log("Hello world!");
                    $('#messages').html(data);
                }
            });
        }, 5000);
    </script>
{% endblock %}