{% extends 'accueil.html' %}

{% block title %}
    Rendez-vous web app | Modifier vos informations
{% endblock %}

{% block head %}
    Rendez-vous web app
{% endblock %}

{% block body %}
    <h2>Modifier vos informations</h2><br>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputNom">Nom</label>
            {{ form.nom }}
        </div>
        <div class="form-group">
            <label for="inputPrenom">Prénom</label>
            {{ form.prenom }}
        </div>
        <div class="form-group">
                <label for="inputEmail">Email</label>
                {{ form.email }}
        </div>
        <div class="form-group">
            <label for="inputTelephone">Téléphone</label>
            {{ form.telephone }}
        </div>
        
        <h2>Entrez votre mot de passe avant de cliquer sur modifier:</h2>

        <div class="form-group">
                <label for="inputMot_de_passe">Mot de passe</label>
                {{ form.mot_de_passe }}
            </div>

        <input type="submit" name="modifier" class="btn btn-primary btn-block" value="Modifier">
        <a href="{% url 'modifier_votre_mot_de_passe' %}" class="btn btn-secondary btn-block" >Modifier votre mot de passe</a>
        <a href="{% url 'accueil' %}" class="btn btn-warning btn-block">Retour</a>
    </form>
{% endblock %}