{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Rendez-vous web app | Vos rendez-vous</title>
    </head>
    <body>
        <h1>Rendez-vous web app | Vos rendez-vous</h1>
        <a href="{% url 'accueil' %}">Accueil</a>
        <table style="width:100%" id='table'>
            <tr align="left">
                <th>ID</th>
                <th>Professeur</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Fichier partagé</th>
                <th>Status</th>
                <th>Date du rendez-vous</th>
                <th>Actions</th>
            </tr>
            {% for rendez_vous in les_rendez_vous %}
                <tr>
                    <td>{{ rendez_vous.id }}</td>
                    <td>{{ rendez_vous.enseignant.last_name }} {{ rendez_vous.enseignant.first_name }}</td>
                    <td>{{ rendez_vous.enseignant.utilisateur.telephone }}</td>
                    <td>{{ rendez_vous.enseignant.email }}</td> 
                    {% if rendez_vous.fichier != ""  %} 
                        <td><a href='{% static "" %}{{ rendez_vous.fichier }}' download>Télécharger</a></td>   
                    {% else %}
                        <td>Aucun fichier</td>
                    {% endif %}
                    <td>{{ rendez_vous.status }}</td>   
                    <td>{{ rendez_vous.date_du_rdv }}</td> 
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type='hidden' name='id' value='{{ rendez_vous.id }}'>
                            <input type='submit' name='message' value='Messages'>
                            <input type='submit' name='modifier' value='Modifier'> 
                            <input type='submit' name='supprimer' id='supprimer' value='Supprimer'> 
                        </form>
                    </td>  
                </tr>
            {% endfor %}
        </table>

        <script type="text/javascript">
            $('#supprimer').click(function(evt){
              evt.preventDefault();
              $.ajax({
                  synch: 'true',
                  type: 'GET',
                  url: '{% url 'vos_rendez_vous' %}',
                  success: function(data){
                      $('#table').html(data);
                  }
              });
            }
        </script>
    </body>
</html>