{% extends 'accueil.html' %}
{% load static %}

{% block title %}
    Rendez-vous web app | Vos rendez-vous
{% endblock %}


{% block head %}
    Rendez-vous web app
{% endblock %}

{% block body %}
    <h2>Vos rendez-vous</h2><br>
    <a href='{% url "accueil" %}' class='btn btn-outline-dark btn-lg btn-block'>Accueil</a><br><br>
    <div class="table-responsive">
    <table id="table_id" class="table">
        <thead id="table_id" class="table">
            <tr>
                <th>Enseignant</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Fichier partagé</th>
                <th>Status enseignant</th>
                <th>Status élève</th>
                <th>Créneau choisie</th>
                <th>Signalement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for rendez_vous in les_rendez_vous %}
                <tr>
                    <td>{{ rendez_vous.enseignant.last_name }} {{ rendez_vous.enseignant.first_name }}</td>
                    <td>{{ rendez_vous.enseignant.utilisateur.telephone }}</td>
                    <td>{{ rendez_vous.enseignant.email }}</td> 
                    {% if rendez_vous.fichier != ""  %} 
                        <td><a href='{% static "" %}{{ rendez_vous.fichier }}' download>Télécharger</a></td>   
                    {% else %}
                        <td>Aucun fichier</td>
                    {% endif %}
                    <td>{{ rendez_vous.get_confirmation_enseignant_display }}</td>   
                    <td>{{ rendez_vous.get_confirmation_eleve_display }}</td> 
                    <td>
                        {% if les_creneaux %}
                            {% for creneau in les_creneaux %}
                                {% if creneau.rendez_vous.id == rendez_vous.id %}
                                    {{ creneau.date }}
                                {% else %}
                                    Aucun créneau choisie
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            Aucun créneau choisie
                        {% endif %}
                    </td>  
                    <td>{% if rendez_vous.signalement == True %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>  
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type='hidden' name='id' value='{{ rendez_vous.id }}'>
                            <input type='submit' name='confirmer' value='Confirmer'> 
                            <input type='submit' name='annuler' value='Annuler'>
                            <input type='submit' name='message' value='Messages'>
                            {% if utilisateur.role == "élève" %}
                                <input type='submit' name='modifier' value='Modifier'> 
                                <input type='submit' name='signaler' value='Signaler'>
                            {% elif utilisateur.role == "enseignant" %}
                                <input type='submit' name='creneaux' value='Créneaux'>
                            {% endif %}
                        </form>
                    </td>  
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}